body {
    .container {
        min-height: 100vh;
    }
    .ant-input {
        border-color: transparent
    }

    textarea {
        resize:none
    }
}
.vertical_align {
  	margin-top: auto;
	margin-bottom: auto;
}


